.acm-video.style-1 {
  overflow: hidden;
}
.acm-video.style-1 .video-wrapper {
  height: 0;
  padding-bottom: 50%;
  padding-top: 0;
  position: relative;
  background-color: #000000;
}
.acm-video.style-1 .video-wrapper img {
  max-width: 100%;
}
.acm-video.style-1 .video-wrapper.playing .btn-play {
  display: none;
}
.acm-video.style-1 iframe {
  height: 100%;
  right: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
}
.acm-video.style-1 video {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.acm-video.style-1 .video-player {
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  width: 100%;
}
.acm-video.style-1 .video-player .btn-play {
  height: 80px;
  width: 80px;
  margin-top: -40px;
  margin-right: -40px;
  padding: 0 !important;
  border: 2px solid #ffffff;
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: 2;
  color: #ffffff;
}
.acm-video.style-1 .video-player .btn-play:hover {
  color: #333333;
  box-shadow: none;
}
.acm-video.style-1 .video-player .btn-play:hover:after {
  border-right: 20px solid #333333;
}
.acm-video.style-1 .video-player .btn-play:after {
  content: "";
  display: inline-block;
  border-right: 20px solid #ffffff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  margin-top: 23px;
  -webkit-transition: border-right 500ms;
  -o-transition: border-right 500ms;
  transition: border-right 500ms;
}
.acm-video.style-1 .video-player .btn-play:before {
  background: #ffffff;
}